*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    color: #300900;    
}
/*.container{
    width: 80%;
    margin: 0 auto;

}*/
.weapons button {
    padding: 5px;
    outline: none;
    border-radius: 5px;
    border:none;
    margin: 25px;
    width: 150px;
    font-size: 23px;
    background-color: #ea721c;
    color: #fff;
    cursor: pointer;
}
.weapons button:hover{
    background-color: #fff;
    color:  #ea721c;
}
.weapons{
    width:60%;    
    margin: 0 auto;
    text-align: center;

}
h1{
    margin:28px;
}
.text-center{
    text-align: center;
}
.display-scores{
    width: 80%;
    margin: 0 auto;
    text-align: center; 
     font-size: 22px; 
     display: flex;
     flex-direction: column;
     justify-content: center;

}
.display-scores h3, .display-scores span{
    display: inline-block;
    margin: 5px;
}
.
